img {
	margin: 0 1em 0 -1em;
}

.title {
	color: white;
	margin-right: 1em;
}

.navbar {
	background-color: black;
}

.btn {
	margin-right: .5em;
}

.react-paginate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
	border-radius: 5px;
	padding: 0px;
	height: 58px;
}

.page, .break, .selected {
	padding: 1em;
	cursor: pointer;
}


.selected {
	color: white !important;
	cursor: default !important;
}

.page, .break {
	color: cyan;
}

.break {
	cursor: default;
	color: white;
}

.previous, .next {
	color: cyan;
	padding: 1em 1em 1em 1em;
	font-size: 1em;
	cursor: pointer;
}

.disabled {
	color: white;
	cursor: default;
}

ul {
	list-style: none;
}

.story {
	color: grey;
}

.story-title {
	font-size: .9em;
}

.story-info {
	font-size: .75em;
}

.loader {
  border: 16px solid #f3f3f3;
  position: absolute;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin .4s linear infinite;
  animation: spin .4s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
	visibility: hidden;
}

.btn-default {
	cursor: default !important;
}